
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body{
    background:#f0f2f5;
    font-family: Helvetica, Arial, sans-serif;
}

/* MAIN CONTAINER */
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    gap:60px;
}

/* LEFT SIDE */
.left{
    width:50%;
}

.left h1{
    color:#1877f2;
    font-size:60px;
    margin-bottom:10px;
}

.left p{
    font-size:24px;
    color:#1c1e21;
}

/* RIGHT SIDE */
.right{
    width:400px;
}

/* FORM BOX */
.form-box{
    background:#fff;
    padding:20px;
    border-radius:8px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

/* INPUTS & SELECT */
.form-box input,
.form-box select{
    width:100%;
    height:44px;
    padding:0 12px;
    margin:8px 0;
    border-radius:6px;
    border:1px solid #ccd0d5;
    font-size:14px;
    color:#1c1e21;
}

/* PLACEHOLDER COLOR */
.form-box input::placeholder{
    color:#8a8d91;
}

/* FOCUS */
.form-box input:focus,
.form-box select:focus{
    outline:none;
    border-color:#1877f2;
    box-shadow:0 0 0 1px #1877f2;
}

/* DATE INPUT FIX */
input[type="date"]{
    padding-right:12px;
}

/* PASSWORD WRAPPER */
.password-wrapper{
    position:relative;
}

/* TOGGLE PASSWORD BUTTON */
.toggle-btn{
    position:absolute;
    right:12px;
    top:50%;
    transform:translateY(-50%);
    border:none;
    background:none;
    cursor:pointer;
    font-size:16px;
}

/* REGISTER BUTTON */
.register-btn{
    width:100%;
    background:#42b72a;
    color:#fff;
    padding:12px;
    border:none;
    border-radius:6px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
}

.register-btn:hover{
    background:#36a420;
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px){
    .container{
        flex-direction:column;
        text-align:center;
        padding:20px;
    }

    .left{
        width:100%;
    }

    .right{
        width:100%;
        display:flex;
        justify-content:center;
    }
}

/* Footer ni katong mo underline */
.footer-text {
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 10;
}

.footer-text {
    text-align: center;
    margin-top: 15px;
    padding-left: 28%;
    font-size: 14px;
    color: #1c1e21;
    cursor: pointer;
    font-weight: 300;
}

